@model List<Category>


<div class="col-11 mx-auto pt-0 p-0">
    <div class="card">

        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Categories</h4>
        </div>

        <div class="col-6 form-group text-left p-2">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create new category</a>
        </div>

        @foreach (var category in Model)
        {
    <div style="display:inline-block; margin:.5em; width:25%; text-align:center;">
        <div class="col-6 form-group text-left p-1">
            <h2>@category.Name</h2>
            <a class="btn btn-primary" asp-controller="Category" asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
        </div>
    </div>}
    </div>
</div>